table{
   max-width: 100%; 
    border: solid black 1px;
}

table th, td{
    border: solid black 1px;
}

table thead tr{
    background-color: aquamarine;
}

table tbody tr:hover{
    background-color: rgb(230, 188, 125);
}

table tbody .sinStock{
    background-color: rgb(146, 59, 59);
}

div.containerTable{

    width: 70%;
}

div#formularioEdicion {
    width: 30%;
}

div#formularioEdicion form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

div.container{
    display: flex;
    gap: 4px;
    
}
